.player {
    display: flex;
    background: rgba(253, 222, 192, 1);
    border: 1px solid rgba(239, 185, 124, 1);
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
}

.player {
    flex-direction: column;
    gap: 1rem;
}

#upload-button, .controls button, #playlist {
    background: rgba(212, 156, 92, 1);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
}

.controls {
    display: flex;
    gap: 1rem;
}

#progress {
    width: 100%;
    accent-color: rgba(212, 156, 92, 1);
}

#playlist {
    width: 100%;
    border: 1px solid rgba(239, 185, 124, 1);
    border-radius: 0.5rem;
    background: rgb(255, 234, 213);
    color: rgba(212, 156, 92, 1);
    font-size: 0.9rem;
}

.progress-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

#current-time,
#duration {
    font-size: 0.9rem;
    color: rgba(212, 156, 92, 1);
    min-width: 3rem;
    text-align: center;
}